@import url(https://fonts.bunny.net/css?family=chivo:700|manrope:400,500,700,800|shippori-mincho:700,800);

:root {
  --primary-color: #036687;
  --second-color: #30aed7;
  --accent-color: #222f5a;
  --btn-text-color: #ffffff;
}
/*** #222F5A
#BE1522
***/
/*RESET*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  color: var(--accent-color);
}

main {
  display: block;
  clear: both;
}

thead {
  font-weight: 600;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

input,
select,
button,
textarea {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
}

*:focus,
select:focus,
.custom-select:focus,
button:focus,
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
[type="text"].form-control:focus,
[type="password"].form-control:focus,
[type="email"].form-control:focus,
[type="tel"].form-control:focus,
[contenteditable].form-control:focus {
  outline: none !important;
  box-shadow: none !important;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

li.hr span {
  width: 100%;
  height: 1px;
  background-color: #e4e4e4;
  margin: 20px 0;
  display: block;
}

/*--- Common Classes---------------------*/
::selection {
  background: #069; /* WebKit/Blink Browsers */
  color: #fff;
}

::-moz-selection {
  background: #069; /* Gecko Browsers */
  color: #fff;
}

::placeholder {
  color: #122830;
  opacity: 1;
}

:-ms-input-placeholder,
::-webkit-input-placeholder {
  color: #122830;
  opacity: 1;
}

*:focus,
select:focus,
.custom-select:focus,
button:focus,
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
[type="text"].form-control:focus,
[type="password"].form-control:focus,
[type="email"].form-control:focus,
[type="tel"].form-control:focus,
[contenteditable].form-control:focus {
  outline: none !important;
  box-shadow: none;
}

.img-responsive {
  max-width: 100%;
}

body {
  font-family: "Manrope", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  color: var(--accent-color);
}

h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 72px;
}

h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}

h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

h4 {
  font-weight: 700;
  font-size: 26px;
  line-height: 34px;
}

h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

h6 {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--accent-color);
}

a {
  color: #071920;
  text-decoration: none;
}
a:hover {
  color: var(--accent-color);
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1410px;
  }
}
.hover-up {
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.hover-up:hover {
  transform: translateY(-2px);
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}

@media (min-width: 1400px) {
  .container.wide {
    max-width: 1544px;
  }
}

/*OTHER SCREEN*/
.page-content p {
  margin-bottom: 15px;
}

.waypoint {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 75%;
  transform: translate(-50%, -50%);
}

.header-logo {
  height: 35px;
}

.robot-marker {
  height: 9px;
  width: 9px;
  position: absolute;
  z-index: 15;
}

.point-icon {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  padding: 5px;
  width: 30px;
  height: 30px;
  z-index: 10;
  position: absolute;
  top: 22px;
  left: 2px;
}
.zoom-btn {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0;
  width: 25px;
  height: 25px;
  z-index: 10;
  position: absolute;
  left: 2px;
}

.active-mode {
  border: 2px solid #be1522;
  padding-top: 2px;
}

.map-image {
  zoom: 1; /* initial zoom */
}

.btn-danger {
  background-color: #be1522;
}
.btn-danger,
.btn-outline-danger {
  border-color: #be1522;
}

.btn-outline-danger {
  color: #be1522;
}

.text-danger {
  color: #be1522 !important;
}
.btn-primary {
  background-color: #222f5a;
  border-color: #222f5a;
}

.btn-danger:hover {
  background-color: #dc3545;
  border-color: #dc3545;
}
